@keyframes spinner-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  width: 100vw;
  height: 100dvh;
}

.iframe {
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
}

.simple_spinner {
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.simple_spinner span {
  display: block;
  width: 80px;
  height: 80px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: black;
  animation: spinner-anim 0.8s linear infinite;
}
